<!-- IF S_SEXY_ENABLE -->

<!-- Start Shareaholic Sexy Bookmark HTML by phpbb3world.com for phpbb3 -->
<div class="shr_class shareaholic-show-on-load">

</div>
<!-- End Shareaholic Sexy Bookmark HTML by phpbb3world.com for phpbb3 -->
<!-- Start Shareaholic Sexy Bookmark settings by phpbb3world.com for phpbb3 -->
<script type="text/javascript">
	// <![CDATA[
	var SHRSB_Settings = {"shr_class":{"src":"{T_SUPER_TEMPLATE_PATH}/sexybookmarks","link":"","service":"{S_SEXY_BUTTONS}","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"bitly","shortener_key":"","designer_toolTips":true,"tip_bg_color":"#{S_SEXY_COLOR}","tip_text_color":"#{S_SEXY_TEXT}","twitter_template":"${title} - ${short_link} via @Shareaholic"}};
	var SHRSB_Globals = {"perfoption":"1"};
	// ]]>
</script>
<!-- End Shareaholic Sexy Bookmark settings by phpbb3world.com for phpbb3 -->
<!-- Start Shareaholic Sexy Bookmark script by phpbb3world.com for phpbb3 -->
<script type="text/javascript">
	// <![CDATA[
	(function() {
	var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
	sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "./") + "{T_SUPER_TEMPLATE_PATH}/sexybookmarks/jquery.shareaholic-publishers-sb.min.js";
	var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
	})();
	// ]]>
</script>

<!-- End Shareaholic Sexy Bookmark script by phpbb3world.com for phpbb3 -->
<!-- ENDIF -->